body {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    margin: auto;
}

footer {
    text-align: center;
    margin: auto;
}

h1 {
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #8fbaef;
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr max-content max-content max-content 1fr;
}

.navbar a  {
  float: left;
  padding: 4px 10px;
  font-weight: bold;
  text-decoration: underline;
  color: #000000;
}




