<!DOCTYPE html>

<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:site_name" content="Rutgers SLUG">
  <meta property="og:title" content="Rutgers SLUG">
  <meta property="og:description" content="Rutgers University Student Linux User Group">
  <link rel="stylesheet" href="/resources/neoslug.css">
  <link rel="stylesheet" href="/resources/webring.css">
  <link rel="stylesheet" href="/resources/logo.css">
  <link rel="favicon">
  <title>Rutgers SLUG</title>
</head>
<body>
<div id="webring">
	<a href="https://asulug.org">ASU</a>
	<a href="https://lug.oregonstate.edu/">OSU</a>
	<a href="https://ritlug.com">RIT</a>
	<a href="/">Rutgers</a>
	<a href="https://ducklink.stevens.edu/slug/home/">Stevens</a>
	<a href="https://linux.ucla.edu">UCLA</a>
	<a href="https://sluglinuxusergroup.github.io">UCSC</a>
	<a href="https://lug.umbc.edu">UMBC</a>
	<a href="https://linuxclub.umd.edu/doc/trunk/index.md">UMD</a>
	<a href="https://huskylink.washington.edu/organization/huskyfoss">UW</a>
</div>
<main>
  <header>
<a href="/" id="logo">
<table>
<tbody>
<tr>
<th>
<img id="tux" height=70 src="/images/tux.png" alt="Linux penguin" title="Linux penguin">
</th>

<th>
<div id="logotext">
<div id="slug">
SLUG
</div>
<div id="ru">
Rutgers University <br />
Student Linux User Group
</div>
</div>
</th>
</tbody>
</table>
</a>
    <hr />
    <div style="font-size:85%;">
      <p><strong>Our next meeting is:</strong> TBA.</p>
    </div>
    <nav>
      <table style="margin:auto;">
	<tbody>
	<tr>
 	  <th><a href="/">Home</a></th>
	  <th><a href="/directory">Directory</a></th>
	  <th><a href="/meetings">Meetings</a></th>
	  <th><a href="/links">Links</a></th>
	</tr>
	</tbody>
      </table>
    </nav>
  </header>

