<!DOCTYPE html>

<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:site_name" content="Rutgers SLUG">
  <meta property="og:title" content="Rutgers SLUG">
  <meta property="og:description" content="Rutgers University Student Linux User Group">
  <link rel="stylesheet" href="/resources/neoslug.css">
  <link rel="stylesheet" href="/resources/logo.css">
  <link rel="stylesheet" href="/resources/theme.css">
  <link rel="favicon">
  <title>Rutgers SLUG</title>
</head>
<body>
<main>
  <header>
<a href="/" id="logo">
<table>
<tbody>
<tr>
<th>
<img id="tux" height=70 src="/images/tux.png" alt="Linux penguin" title="Linux penguin">
</th>

<th>
<div id="logotext">
<div id="slug">
SLUG
</div>
<div id="ru">
Rutgers University <br />
Student Linux User Group
</div>
</div>
</th>
</tbody>
</table>
</a>
    <hr />
    <div style="font-size:85%;">
      <strong><p>Our next meeting is:</strong> Monday, September 30, in the 
      <a href="https://spec.cs.rutgers.edu/spaces/the-csl/">CAVE</a> from 9-11 PM.</p>
    </div>
    <nav>
      <table style="margin:auto;">
	<tbody>
	<tr>
 	  <th><a href="/">Home</a></th>
	  <th><a href="/meetings">Meetings</a></th>
          <th><a href="/topics">Topics</a>
	  <th><a href="/links">Links</a></th>
	</tr>
	</tbody>
      </table>
    </nav>
  </header>

