<!DOCTYPE html>

<html lang="en-us">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="RESOURCES_DIR/neoslug.css">
  <link rel="favicon" href=IMAGE_DIR/favicon.ico>
  <title>Rutgers SLUG</title>
</head>
<body>
  <header>
    <h1>
      <img src="IMAGES_DIR/mainbanner.jpg" alt="SLUG: Rutgers University Student Linux User Group"></img>
    </h1>
    <hr />

    <div style="font-size:85%;">
      <p><strong>Our next meeting is:</strong>
	not determined yet.</p>
    </div>
    <nav class="navbar">
        <div></div>
 	<div><a href="ROOTindex.html">Home</a></div>
	<div><a href="ROOTmeetings/index.html">Meetings</a></div>
	<div><a href="ROOTlinks.html">Links</a></div>
	<div></div>
    </nav>
  </header>

 
